.Content {
  max-width: 60rem;
  margin: auto;
}

.LaunchesSearch {
  text-align: center;
  margin: 2rem;
}

.LaunchesList {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Launch {
  width: 19rem;
  margin-bottom: 3rem;
}
